/* *************** NAVBAR *************** */
nav {
	overflow: hidden;
	background-color:white;
	position: fixed;
	width: 100%;
	opacity: 0.9;
  }
  header li {
	float: right;
	font-size: 1.2em;
  }
  header li a {
	text-decoration: none;
	text-align: center;
	padding: 18px 16px;
  }
  #logo {
	
	font-weight:bold;
	float: left;
	font-size:1.7em;
  }
  
  #h1{
    color:black;
  }
  .statistic_container{
    width: 100%;
	min-height: 100vh;
	background-image:url("media/img.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;

  }
  .graphic{
    background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	height: 50%;
	text-align: center;
    margin-top: 10%;
  }
  #hcouleur{
    color:brown;
  }
  .date-filters{
	text-align: right;
	margin-bottom: 2%;
  }
  h1{
	color: red;
	text-align: center;
	font-weight: bold;
}
/* Circular Chart Styles */
.chart-value {
	font-size: 2em;
	color: #3498db;
  }
  
  .circle {
	text-align: center;
	margin: 50px; /* Increase margin to add more space between circles */
  }
  
  .circle-value {
	font-size: 5em;
	color: #3498db;
  }
  
 
  
  .message-title {
	font-size: 1.5em;
	margin-top: 10px;
	color: #777; /* Change to your desired message title color */
  }
  .message-container {
	text-align: center;
	margin-top: 20px;
	background: rgba(255, 255, 255, 0.8); /* Translucent white background */
	padding: 20px;
	border-radius: 10px; /* Add rounded corners for a professional look */
	color: #333; /* Change to your desired text color */
  }