ul {
	margin: 0;
	padding: 0;
  }
  li {font-family: 'Dancing Script', cursive;
	font-weight:bold;
	font-size:10Px;;
	list-style-type: none;
  }
 
  a {
	text-decoration: none;
	color: black;
  }
  /* *************** NAVBAR *************** */
  nav {
	overflow: hidden;
	background-color:white;
	position: fixed;
	width: 100%;
	opacity: 0.9;
  }
  header li {
	float: right;
	font-size: 1.2em;
  }
  header li a {
	text-decoration: none;
	text-align: center;
	padding: 18px 16px;
  }
  #logo {
	
	font-weight:bold;
	float: left;
	font-size:1.7em;
  }
  
  h1{
	color: red;
	text-align: center;
	font-weight: bold;
}